<section class="quiz-menu flex flex-col items-center py-14 h-full">
  <figure>
    <img
      class="max-w-32"
      src="/images/python.svg"
      alt="imagen del logo de python"
    />
  </figure>
  <h1 class="text-4xl md:text-7xl font-black text-white my-5">Python Quiz</h1>
  <div
    class="flex-grow grid items-end md:items-start place-items-center w-full"
  >
    <button
      class="btn-start border border-white md:mt-10 py-4 text-white text-2xl hover:bg-py-yellow hover:text-black font-semibold transition-colors max-w-[350px] w-full"
      >Empezar</button
    >
  </div>
</section>

<style>
  section.hide-menu {
    animation: hide-elem 0.3s forwards ease-in;
  }
</style>
