---
import QuestionsJson from '../../lib/questions.json'

const json = JSON.stringify(QuestionsJson)
---

<section
  data-json={json}
  class="quiz-questionSec py-10 flex flex-col gap-11 text-white"
>
  <p
    class="quiz-progress font-['Fredoka'] text-xl text-center drop-shadow-sm"
  >
    Pregunta 1 de 20
  </p>
  <p class="quiz-question text-5xl text-center font-bold">Pregunta de python</p>
  <ul
    class="quiz-options grid grid-cols-1 place-items-center *:py-3 *:border gap-3 *:text-center *:w-[80%] hover:*:text-black *:max-w-[400px] hover:*:bg-py-yellow cursor-default *:font-medium text-lg"
  >
    <li>opcion 1</li>
    <li>opcion 2</li>
    <li>opcion 3</li>
    <li>opcion 4</li>
  </ul>
</section>

<style>
  .incorrect {
    @apply bg-red-400 hover:bg-red-400 text-white scale-110 transition-transform;
  }
  .correct {
    @apply bg-green-400 hover:bg-green-400 text-white scale-110 transition-transform;
  }


  .quiz-questionSec {
    opacity: 0;
    transform: translateY(-100%);
    animation: show-question 0.2s forwards;
  }

  @keyframes show-question {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
