<section class="flex flex-col gap-5">
  <h2 class="text-white text-4xl font-bold text-center mt-10 hidden">Resultados</h2>

  <div>
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
    <span>6</span>
    <span>7</span>
    <span>8</span>
    <span>9</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
    <span>10</span>
  </div>
</section>

<style>
  section:not(.hidden) {
    display: none;
  }

  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }

  div span {
    display: grid;
    color: white;
    place-items: center;
    aspect-ratio: 1/1;
    border: 1px solid;
  }
</style>
