<section class="h-[200px] bg-red-500 hidden">
  
</section>


<style>
  section:not(.hidden) {
    display: flex;
  }

  section {
    transform: translateY(200%);
  }

  body:hover section{
    transform: translateY(0);
  } 
</style>