---
import Layout from '../layouts/Layout.astro'
import Menu from '../pages/sections/Menu.astro'
import Question from '../pages/sections/Question.astro'
import Github from '../icons/github.astro'
---

<Layout title="Dev Quiz">
  <main class="flex-grow mx-auto w-[80%]">
    <Menu />
    <Question />
  </main>

  <footer class="text-lg py-5 text-white flex justify-center gap-3 items-center font-['Fredoka']">
    <span>Hecho por</span>
    <a
      target="_blank"
      href="https://github.com/lbrione/python-quiz"
      class="text-py-yellow flex items-center gap-1"
    >
      <Github />
      lbrione
    </a>
  </footer>
</Layout>

<script src="../lib/main.js"></script>
