<div class="background fixed inset-0 -z-10">
  <div class="absolute inset-0 -z-10 h-full w-full bg-[linear-gradient(to_right,#f0f0f011_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f011_1px,transparent_1px)] bg-[size:6rem_4rem]"></div>
</div>

<style>
  .background {
    background: #4cc9e6;

    background: linear-gradient(-90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);

    background: -moz-linear-gradient(-90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);

    background: -webkit-linear-gradient(-90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);
  }
</style>