<footer class="flex justify-center">
  <div class="flex flex-col items-center gap-2">
    <p class="text-center text-gray-400">DevQuiz</p>
    <p class="text-center text-gray-400">
      <i class="fa-solid fa-code"></i> Creado por <a
        target="_blank"
        href="https://porfolio.brionex.xyz"
        class="text-bright-pink hover:underline hover:scale-125 hover:rotate-3 transition-transform inline-block font-bold"
        >brionex</a
      >
    </p>
  </div>
</footer>
