<footer class="flex flex-col items-center gap-5 px-5 py-20">
  <p class="text-center text-gray-400">
    <i class="fa-solid fa-copyright"></i> 2023 DevQuiz
  </p>
  <p class="text-center text-gray-400">
    <i class="fa-solid fa-code"></i> Creado por <a
      target="_blank"
      href="https://porfolio.brionex.xyz"
      class="text-light-blue hover:underline">brionex</a
    >
  </p>
</footer>
