---
import Logo from '@icons/Logo.astro'
import Code from '@icons/Code.astro'
---

<footer class="flex flex-col items-center gap-3">
  <div class="flex items-center gap-1">
    <Logo class="w-10 h-10" />
    <p class="text-xl font-bold text-sky-blue">DevQuiz</p>
  </div>
  <p class="flex gap-2 text-center text-gray-400">
    <Code class="text-vivid-pink" />
    <span>
      Creado por
      <a
        target="_blank"
        href="https://porfolio.brionex.xyz"
        class="text-vivid-pink hover:underline hover:scale-125 hover:-rotate-3 transition-transform inline-block font-bold"
        >brionex</a
      >
    </span>
  </p>
</footer>
