<div class="absolute top-5 right-10 z-10">
  <a
    href="https://github.com/brionex/devquiz"
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center gap-2 text-slate-400 hover:text-light-blue text-xl border border-slate-700 p-2 rounded-lg hover:border-light-blue hover:scale-110 transition-transform"
  >
    <i class="fa-brands fa-github"></i>
  </a>
</div>
