---
import ArrowDown from '@icons/ArrowDown.astro'
---

<header class="flex flex-col gap-5 items-center">
  <h1
    class="text-3xl sm:text-5xl font-extrabold flex items-center font-JetBrainsMono animate-fade-down"
  >
    <span class="text-vivid-pink">&lt;dev</span>
    <img
      class="w-[50px] sm:w-[100px] aspect-square"
      src="/logo.svg"
      alt="devquiz logo"
    />
    <span class="text-sky-blue">uiz&gt;</span>
  </h1>

  <p
    class="text-lg text-slate-300 sm:text-2xl font-bold text-center max-w-3xl animate-fade"
  >
    Pon a prueba tus conocimientos y descubre cuánto sabes sobre tu tecnología
    favorita<span class="text-sky-blue">.</span>
  </p>

  <p class="text-lg sm:text-2xl animate-fade">
    Completa un quiz <span class="text-vivid-pink font-bold rotate-12"
      >¡ahora!</span
    >
  </p>
  <ArrowDown class="text-sky-blue h-12 w-12" />
</header>
