<header class="flex flex-col gap-5 items-center px-5">
  <h1
    class="text-3xl sm:text-5xl font-extrabold flex items-center font-JetBrainsMono animate-fade-down"
  >
    <span class="text-bright-pink">&lt;dev</span>
    <img
      class="w-[50px] sm:w-[100px] aspect-square"
      src="/favicon.svg"
      alt="devquiz logo"
    />
    <span class="text-light-blue">uiz&gt;</span>
  </h1>

  <p class="text-lg text-slate-300 sm:text-2xl font-bold text-center max-w-3xl">
    Pon a prueba tus conocimientos y descubre cuánto sabes sobre tu tecnología
    favorita.
  </p>

  <p class="[&_span]:text-bright-pink text-lg sm:text-2xl">
    <span>¡</span>Completa un quiz ahora<span>!</span>
  </p>
  <i
    class="fa-solid fa-chevron-down text-4xl text-light-blue animate-bounce animate-infinite animate-ease-linear animate-duration-1000"
  ></i>
</header>
