---
import Logo from '@icons/Logo.astro'
import ArrowDown from '@icons/ArrowDown.astro'
---

<header class="flex flex-col items-center gap-5">
  <h1
    class="flex items-center text-3xl font-extrabold sm:text-5xl font-JetBrainsMono animate-fade-down"
  >
    <span class="text-vivid-pink">&lt;dev</span>
    <Logo class="w-14 h-14 sm:w-24 sm:h-24" />
    <span class="text-sky-blue">uiz&gt;</span>
  </h1>

  <p class="max-w-3xl text-lg font-bold text-center sm:text-2xl animate-fade">
    Pon a prueba tus conocimientos y descubre cuánto sabes sobre tu tecnología
    favorita<span class="text-sky-blue">.</span>
  </p>

  <p class="text-lg sm:text-2xl animate-fade">
    Completa un quiz <span class="font-bold text-vivid-pink rotate-12"
      >¡ahora!</span
    >
  </p>
  <ArrowDown class="w-12 h-12 text-sky-blue" />
</header>
