---
import Github from '@icons/Github.astro'
---

<div class="absolute z-10 top-5 right-10">
  <a
    href="https://github.com/brionex/devquiz"
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center gap-2 p-2 text-xl text-gray-400 transition-transform border border-gray-400 rounded-lg hover:text-sky-blue hover:border-current hover:scale-110"
  >
    <Github />
  </a>
</div>
