---
import Github from '@icons/Github.astro'
---

<div class="absolute top-5 right-10 z-10">
  <a
    href="https://github.com/brionex/devquiz"
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center gap-2 text-gray-400 hover:text-sky-blue text-xl border border-slate-700 p-2 rounded-lg hover:border-current hover:scale-110 transition-transform"
  >
    <Github />
  </a>
</div>
