---
interface Props {
  option: string
  index: number
}

const { option, index } = Astro.props

const delay = `${index * 0.1}s`
---

<li class="w-[min(400px,100%)]">
  <span
    data-i={index}
    class="block border border-gray-500 px-5 py-3 hover:scale-110 duration-300 cursor-default transition-[transform] hover:bg-sky-blue hover:text-black rounded-xl hover:font-bold text-pretty"
    >{option}</span
  >
</li>

<style define:vars={{ delay }}>
  li {
    animation: scale-in 0.3s var(--delay) ease-in-out both;
  }

  .answerSuccess {
    @apply text-black bg-green-400 font-bold animate-jump border-green-400;
  }

  .answerError {
    @apply text-black bg-red-400 font-bold animate-shake border-red-400;
  }

  @keyframes scale-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>
