---
import ArrowLeft from '@icons/ArrowLeft.astro'

interface Props {
  title: string
  numQuestions: number
  image: string
}

const { title, numQuestions, image } = Astro.props
---

<header class="flex items-center text-xl gap-5 text-gray-400">
  <a href="/" class="hover:scale-125 transition-transform hover:text-sky-blue">
    <ArrowLeft class="w-8 h-8" />
  </a>

  <div class="flex items-center gap-2 flex-grow">
    <img src={image} class="w-8" alt="Logo de tecnología" />
    <h1>{title}</h1>
  </div>

  <p>
    <span id="quiz-counter">1</span>/{numQuestions}
  </p>
</header>
