.sliding-hide {
  visibility: hidden;
}

.sliding-text {
  --time: 1000ms;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  align-content: inherit;
  text-align: inherit;

  .sliding-text-out,
  .sliding-text-in {
    align-content: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .sliding-text-out {
    animation: textOut var(--time) ease forwards;
  }

  .sliding-text-in {
    animation: textIn var(--time) ease forwards;
  }
}


@keyframes textIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes textOut {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}