---
import '@fortawesome/fontawesome-free/css/all.min.css'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Menlo';
    src: url('/fonts/Menlo-Regular.woff') format('truetype');
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-ExtraBold.woff2') format('truetype');
  }

  body {
    @apply font-menlo;
  }
</style>
