---
import Background from '../components/Background.astro'
import Github from '../icons/github.astro'
import {BASE_URL} from '../lib/baseUrl.js'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={BASE_URL + "/favicon.svg"} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-[100dvh] flex flex-col">
    <main class="flex-grow">
			<Background />
      <slot />
    </main>
		<footer class="text-lg py-5 text-white flex justify-center gap-3">
			<span>Hecho por</span>
			<a href="#" class="text-py-yellow flex items-center">
				<Github />
				lbrione
			</a>
		</footer>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-VariableFont.ttf') format('truetype');
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono.ttf') format('truetype');
  }

	body {
		font-family: 'JetBrainsMono', Verdana, Geneva, Tahoma, sans-serif;
	}
</style>
